<main>
	<h1>{{readable_name}} ({{class_name}})</h1>
	<h2>with {{last}}, {{first}} ({{email}})</h2>
	<h3 id="term">{{term}}</h3>
	<h2 id='platforms'>Platforms</h2>
	
	<section class="externals">
		<a href='https://jupyter.cgrb.oregonstate.edu/{{class_name}}/jupyter'><img
			src='images/jupyter-logo.png'
			alt=' Jupyter '
			height = 50/></a>
		<a href='https://jupyter.cgrb.oregonstate.edu/{{class_name}}/rstudio'><img
			src='images/rstudio-logo.png'
			alt=' Rstudio '
			height = 50/></a>
		<a href='https://jupyter.cgrb.oregonstate.edu/{{class_name}}/local/www/dokuwiki'><img
			src='images/dokuwiki.png'
			alt=' Dokuwiki '
			height=50/></a>
	</section>
</main>
