<main>
	<h1>{{name}} ({{code}})</h1>
	<h2>with {{last}}, {{first}} ({{email}})</h2>
    <div>
        <h2>Class Description:</h2>
        <p>{{description}}</p>
    </div>

	<form action="/update/{{code}}" method="GET" style="display:inline">
	<button type="submit" class='btn-style' style="display:inline">Edit</button>
	</form>
	<form action="/delete/{{code}}" method="POST" style="display:inline">
	<button type="submit" class='btn-style' style="display:inline">Delete</button>
	</form>


	<h2 id='platforms'>Platforms</h2>

	
	<section class="externals">
		<a href='https://jupyter.cgrb.oregonstate.edu/{{code}}/jupyter'><img
			src='images/jupyter-logo.png'
			alt=' Jupyter '
			height = 50/></a>
		<a href='https://jupyter.cgrb.oregonstate.edu/{{code}}/rstudio'><img
			src='images/rstudio-logo.png'
			alt=' Rstudio '
			height = 50/></a>
		<a href='https://jupyter.cgrb.oregonstate.edu/{{code}}/local/www/dokuwiki'><img
			src='images/dokuwiki.png'
			alt=' Dokuwiki '
			height=50/></a>
	</section>
	

	
</main>
